asgiref==3.6.0
certifi==2022.12.7
Django==3.2.18
django-disqus==0.5
mock==5.0.2
Pillow==9.5.0
pip==22.3.1
pytz==2023.3
setuptools==65.6.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.5.0
wheel==0.38.4
wincertstore==0.2
